@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="banner">
    <img src="~/images/DinoDiner-29.png" alt="Dino Diner Banner" />
</div>




<a asp-page="Menu"> Menu</a>
<a asp-page="About">About Us</a>
<a asp-page="Privacy">Privacy</a>
